---
layout: default
title: About Us
---

<header>
  <div class="container">
    <div class="row">
      <div class="span3">
        <div id="logo">
          <a href="/">
            EatMeSF
          </a>
        </div>
      </div>
      <div class="span9">
        <a id="mobile-nav" class="menu-nav" href="#menu-nav"><span class="menu-icon"></span></a>

        <nav id="menu">
          <ul id="menu-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/travel">Travel</a></li>
            <li class="current_page_item"><a href="/about_us">About Us</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>

<section id="title-page">
  <h2>The Team</h2>
  <span class="arrow"></span>
</section>

<div id="content">
  <div class="container">
    <section id="single-team">
      <div class="row">
        <div class="span3">
          <div class="team-img">
            <img width="570" class="img-circle" height="570" src="/img/ellis.png" class="attachment-full wp-post-image" alt="team" title="">
          </div>
        </div>
        <div class="span9">
          <div class="team-name">
            <h2>Ellis Berner</h2>
            <h3>Software engineer, pizza connoisseur and cycling enthusiast</h3>
          </div>
          <div class="team-description">
            <div>
              <p>{% include ellis.md %}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span12">
          <div class="paginate-team">
            <div class="separator"></div>
          </div>
        </div>
      </div>
    </section>
    <section id="single-team">
      <div class="row">
        <div class="span9">
          <div class="team-name">
            <h2>Lauren Hopkins</h2>
            <h3>Environmental lawyer and former bartender, loves cats and tequila</h3>
          </div>
          <div class="team-description">
            <div>
              <p>{% include lauren.md %}</p>
            </div>
          </div>
        </div>
        <div class="span3">
          <div class="team-img">
            <img width="570" height="570" class="img-circle" src="/img/lauren.jpg" class="attachment-full wp-post-image" alt="team" title="">                    </div>
        </div>
      </div>
      <div class="row">
        <div class="span12">
          <div class="paginate-team">
            <div class="separator"></div>
          </div>
        </div>
      </div>
    </section>
    <section id="single-team">
      <div class="row">
        <div class="span3">
          <div class="team-img">
            <img width="570" height="570" class="img-circle" src="/img/tessie.jpg" class="attachment-full wp-post-image" alt="team" title="">                    </div>
        </div>
        <div class="span9">
          <div class="team-name">
            <h2>Tessie</h2>
            <h3>Professional napper, bug chaser with an ice cream obsession</h3>
          </div>
          <div class="team-description">
            <div>
              <p>{% include tessie.md %}</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
