.site-nav {
  background:#fff;
  height:80px;
  position:absolute;
  left:0;
  right:0;
  top:0;
  box-shadow:0 0 1px 1px rgba(0,0,0,0.1);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  transition:all 0.35s ease;
  z-index:100;

  .caret {
    opacity:0.2;
  }

  .brand img {
    height:40px;
    margin-right:10px;
    margin-top:-2px;
  }

  .dropdown {
    display:inline-block;
  }

  nav {
    padding:22px 30px;
    float:left;
    height:80px;
    display:table-cell;
  }

  #navigation {
    padding-right:0;
    a {
      border:0;
      display:inline-block;

      &:hover {
        color:$accent;
      }
    }
    a::before,
    a::after {
      display: inline-block;
      opacity: 0;
      -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
      -moz-transition: -moz-transform 0.3s, opacity 0.2s;
      transition: transform 0.3s, opacity 0.2s;
    }

    a::before {
      margin-right: 10px;
      content: '₴';
      -webkit-transform: translateX(20px);
      -moz-transform: translateX(20px);
      transform: translateX(20px);
    }

    a::after {
      margin-left: 10px;
      content: '₴';
      -webkit-transform: translateX(-20px);
      -moz-transform: translateX(-20px);
      transform: translateX(-20px);
    }

    a:hover::before,
    a:hover::after,
    a:focus::before,
    a:focus::after {
      opacity: 1;
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      transform: translateX(0px);
    }

    > a, .dropdown-toggle  {
      color:#444;
      border:0;
      font-weight:600;
      font-size:15px;
      display:inline-block;
    }

    .dropdown-toggle {
      padding: 6px 0.5em;
      text-align: center;

      &:hover {
        background:#eee;
      }
    }
  }

  .tagline {
    float:right;
    text-align:right;
    font-size:15px;
    font-weight:600;

    span {
      line-height:0;
      padding-right:20px;
    }
  }
}

body.nav-hidden {
  .site-nav {
    top:-100px;
    transition:all 0.35s ease;
    -webkit-transform: translate3d(0px, 0, 0px);
  }
}

